#map-container {
  width: 90%;
  height: 600px;
  margin: 20px auto;
  border: 1px solid #ccc;
  background: white;
}

#floor-1 {
  width: 100%;
  height: 100%;
}

.hallway {
  fill: #bbacacee;
}

.room {
  fill: #d97706;
  stroke: #a4654f;
  stroke-width: 1;
}

.restroom {
  fill: #111827;
}

.stairs {
  fill: #9ca3af;
}

.label {
  fill: white;
  font-size: 14px;
  text-anchor: middle;
  pointer-events: none;
}

.building-frame {
  fill: rgb(212, 204, 204);            /* transparent inside */
  stroke:none;       /* dark gray outline */
  stroke-width: 1;       /* thicker than room borders */
}

.rotate {
  transform: rotate(-90deg);
 transform-origin: 50% 50%;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: whitesmoke;
}

.controls {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 15px;
}

.highlight {
  stroke: #ff0000;       /* red outline */
  stroke-width: 5;       /* thicker border */
  fill: rgb(189, 189, 132);          /* optional fill change */
  opacity: 0.8;
}

.door {
  fill: #eeeeee;     /* match hallway color */
  stroke: #000;
  stroke-width: 2;   /* clear but thinner than walls */
}

.wall {
  fill: #eeeeee;     /* match hallway color */
  stroke: #000;
  stroke-width: 2;   /* clear but thinner than walls */
}


.nav-path {
  fill: none;
  stroke: #e32;
  stroke-width: 4;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 6;
}

.nav-node {
  fill:red;
  stroke: #fff;
  stroke-width: 0;
  opacity: 0.8;
}

#rotateBtn {
  position: absolute;       /* take it out of normal flow */
  top: 45%;                 /* halfway down the page */
  left: 5%;                /* halfway across the page */
  transform: translate(-50%, -50%); /* perfectly center */
  padding: 8px 20px;
  font-size: 12px;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
